extends layout

block optionuser
	div#corpooptionuser
		div#filhooptionuser
			.form-group
				span
					a(href='/ativacao/ativacao_revenda') Ativar areaazul    
				span
					label    
				span.pull-right
					a(href='/revendedor/cadastro') Cadastro de usuario revenda