doctype html
html
    head
        block title
            title Area Azul

        block head
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            link(rel='stylesheet', media='screen', href='//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
            link(rel='stylesheet', href='/stylesheets/pagina.css')
            link(rel='stylesheet', href='/stylesheets/skinning.css')
            link(rel='stylesheet', href='/stylesheets/menu.css')
            link(rel='stylesheet', href='/stylesheets/home.css')
    body
        div#container
            div#topo
            nav(class="navbar navbar-default" )
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="/") Revendedor
                    div(class="collapse navbar-collapse")
                        ul(class="nav navbar-nav")
                            li: a(href="/ativacao/ativacaoRevenda") Ativação
                            li: a(href="/usuario_revendedor/lista") Usuários
                            li: a(href="/logout") Sair

            div#corpo

                div#espacotop
                block content
                div#espacofooter

        block scripts
            script(src='/js/lib/lodash.min.js')
            script(src='/js/lib/jquery-3.1.1.min.js')
            script(src='/js/lib/bootstrap.min.js')
