doctype html
html
    head
        block title
            title areaazul.org - Revenda

        block head
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            link(rel='stylesheet' media='screen' href='/css/lib/bootstrap.min.css')
            link(rel='stylesheet' href='/css/lib/bootstrap-theme.min.css')
            link(rel='stylesheet', href='/css/layout.css')
    body
        div#topo

        .container-fluid
            nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
                div.navbar-header
                    button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
                        span.sr-only Ativar navegação
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(class='navbar-brand' href='/') areaazul.org REVENDAS
                div.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li: a(href="/ativacao") Ativação
                        if user.autorizacao === 'administrador'
                            li: a(href="/usuario/lista") Usuários
                        li: a(href="/logout") Sair
            div#espacoNavBar

        div#container

            div#corpo

                div#espacotop
                block content
                div#espacofooter

            block scripts
                script(src='/js/lib/lodash.min.js')
                script(src='/js/lib/jquery-3.1.1.min.js')
                script(src='/js/lib/bootstrap.min.js')
