doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/pagina.css')
		link(rel='stylesheet', href='/stylesheets/skinning.css')
		link(rel='stylesheet', href='/stylesheets/menu.css')
	body
		div#container
			div#topo

			block optionuser

			div#corpo
				center
					table
						tr
							td
								span#mesagem
					div#espacotop

					block content

					div#espacofooter

			footer
				div#rodape
					span#textorodape Copyright © Solutions - 2012 Área Azul