doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/bootstrap-3.3.4-dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap-3.3.4-dist/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/stylesheets/pagina.css')
		link(rel='stylesheet', href='/stylesheets/menu.css')
		link(rel='stylesheet', href='/stylesheets/skinning.css')
		script(src='http://ajax.googleapis.com/libs/jquery/1/jquery.min.js')
		script(src='/bootstrap-3.3.4-dist/js/bootstrap.min.js')

	body
		div#container
			div#topo

			block optionuser

			div#corpo
				center
					table
						tr
							td
								span#mesagem
					div#espacotop

					block content

					div#espacofooter

			footer
				div#rodape
					span#textorodape Copyright © Solutions - 2012 Área Azul