/*generico*/

.obrigatorios{
  color: red;
  font-size:10px;
}

#tabelatitulopagina{
	margin: 0 auto;
}

#tituloPagina{
	margin: 0 auto;
	font-size: x-large;
	font-family: Calibri, sans-serif;
	color: #808080;
	background-color: #ffffff;
}

.textoFormulario{
	font-family: Calibri, sans-serif;
	font-size: 12px;
}

#buttonForm{
	width: 70px;
	height: 30px;
}

#corpologin{
	width:320px; font-size: 20px;
	margin: 0 auto;
	color: rgb(192, 192, 192);
	background-color: rgb(243, 242, 242);
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	position: relative;
	top: 110px;
}

#titulologin{
	background-color: rgb(74, 117, 181);
	border-color: rgb(74, 117, 181);
	font-size: 11px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-family: Arial,Verdana,sans-serif;
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	background-position: left top;
	background-repeat: repeat-x;
	/*background-image: url("../images/fundo.png");*/
}

#textologin{
	font-size: 11px;
	color: rgb(0, 0, 0);
	font-family: Arial,Verdana,sans-serif;
	padding: 10px;
}

#loginerro{
	color:red;
}

#esqueceusenha{
	text-decoration:none;
	color:#00aff0;
	font-weight:bold;
}

#lock{
	position: relative;
	top: -8px;
}

#link{
	margin-top: 15px;
	float: right;
}
