extends ../layout

block content
	table#tabelatitulopagina
		tr
			td
				table
					tr
						td &nbsp;
					tr
						td
							label#tituloPagina Menu
	table#tabelatitulopagina
		tr
			td
				&nbsp;
		tr
			td
				div#menu8
					ul
						li
							a(href="/revendedor/" title="Cadastro de revendedor") Cadastro de revendedor
						li
							a(href="/revendedor/ativacao_revendedor" title="Ativação de areaazul") Ativação de areaazul