extends ../layout


block optionuser
    div#corpooptionuser
        div#filhooptionuser
 

block content
   -if(message)
        div(id="msg" class="alert alert-danger" role="alert" style="width:500px; heigth:25px;") 
            button(type="button" onclick="$('#msg').alert('close')" data-dismiss="alert" class="close" aria-label="Close") &times;
            strong #{message}
    -if(!message)
        div
    div#corpologin
        div#titulologin
            label Sistema - Área Azul
        div#textologin
            form(name="login", action="/logar", method="post")
                table
                    tr
                        td
                            table
                                tr
                                    td
                                        label Usuário
                                    td
                                        input.form-control(type="text", name="login", maxlength="19")
                                tr
                                    td
                                        label Senha
                                    td
                                        input.form-control(type="password", name="senha")
                                tr
                                    td
                                        button.btn.btn-default(type='submit') Entrar
                                tr
                                    td
                                        a(id="contaNova" href="/revendedor/" title="Criar uma conta") &nbsp;Criar uma conta
                                    td
                                        a(id="esqueceusenha" href="/novaSenha" title="Esqueci a senha") &nbsp;Esqueci a Senha