extends ../layout


block optionuser
	div#corpooptionuser
		div#filhooptionuser
			a(href="/")
				img(src= "../images/icons/back.png" id="imgoptionuser")

block content
	table#tabelatitulopagina
		tr
			td
				table
					tr
						td &nbsp;
					tr
						td
							label#tituloPagina Login
					tr
						td &nbsp;
	div#corpologin
		div#titulologin
			label Sistema - Área Azul
		div#textologin
			center
				if error == "true"
					span#loginerro Usuário ou senha incorretos!
			form(name="login", action="/logar", method="post")
				table
					tr
						td
							img(src= "../images/icons/lock.png" id="lock")
						td
							table
								tr
									td
										label Usuário
									td
										input(type="text", name="login", maxlength="19")
								tr
									td
										label Senha
									td
										input(type="password", name="senha")
								tr
									td
										input(type="submit", value="Entrar")
									td
										a(id="esqueceusenha" href="#" title="Esqueci minha senha") &nbsp;Esqueci minha Senha