extends ../layoutSemLogin

block content
    include ../alerts
    div#corpologin
        div#titulologin
            label Sistema - areaazul.org
        div#textologin
            form(name="login", action="/verificaEmail", method="post")
                table
                    tr
                        td
                            table
                                tr
                                    td
                                        label Email
                                    td
                                        input(type="text", name="email", maxlength="50", placeholder="example@example.com.br")
                                tr
                                    td
                                        input(type="submit", value="Enviar mensagem")
                                    td
                                        input(type="submit", value="cancelar")
