extends ../layout


block optionuser
    div#corpooptionuser
        div#filhooptionuser
 

block content
   -if(message)
        div(id="msg" class="alert alert-danger" role="alert" style="width:500px; heigth:25px;") 
            button(type="button" onclick="$('#msg').alert('close')" data-dismiss="alert" class="close" aria-label="Close") &times;
            strong #{message}
    -if(!message)
        div
    div#corpologin
        div#titulologin
            label Sistema - Área Azul
        div#textologin
            form(name="login", action="/verificaEmail", method="post")
                table
                    tr
                        td
                            table
                                tr
                                    td
                                        label Email
                                    td
                                        input(type="text", name="email", maxlength="50", placeholder="example@example.com.br")
                                tr
                                    td
                                        input(type="submit", value="Enviar mensagem")
                                    td
                                        input(type="submit", value="cancelar")
