extends ../layout

block optionuser
    div#corpooptionuser
        div#filhooptionuser

block content
      if(message)
        .alert.alert-danger
          button.close(type='button', data-dismiss='alert') x
          strong #{message}
      header.row
        .col-md-4  
        .col-md-4
        .col-md-4  
      .row
        .col-md-3
        .row.myform
          .col-md-6
            h4.text-center Ativação
            br
            form(name='myform', role='form', action="/ativacao/salvar_ativacao", method='POST')
              .form-group
                .row
                  .form-group
                    
                      .form-group.col-lg-3
                        label * 
                        label Placa
                        input#campoPlaca.form-control(type='text', placeholder='Placa', name='placa')
                      #camposInvisiveis
                        .form-group.col-lg-3
                          
                            label * UF
                            select#cod_estados.form-control(name='cod_estados')
                              each valor, i in lista
                                option(value="#{valor.attributes.id_estado}" selected="true") #{valor.attributes.uf}
                        .form-group.col-lg-6
                          
                            label * Cidade
                            select#cod_cidades.form-control(name='cod_cidades')
                          
                br
                #camposInvisiveis2
                  .row
                    .form-group
                      .form-group.col-lg-6
                        label * Marca
                        input#marca.form-control(type='text',placeholder='Marca', name='marca')
                      .form-group.col-lg-6
                        label * Modelo
                        input#modelo.form-control(type='text', placeholder='Modelo', name='modelo')
                  br
                  .row
                    .form-group
                      .form-group.col-lg-6
                        label * Cor
                        input#cor.form-control(type='text', placeholder='Cor', name='cor')
                .row
                  .form-group
                    
                      h5.text-center * Tipo do veículo
                .row
                  .form-group
                    .form-inline(align='center')
                      .input-group
                        label.radio-inline
                          input#radioButtonCarro(type='radio', checked='true', value='1', onclick='verPorRadio(this.value)')
                          |  Carro
                        label.radio-inline
                          input#radioButtonMoto(type='radio', value='2', onclick='verPorRadio(this.value)')
                          |  Moto
                        label.radio-inline
                          input#radioButtonCamionete(type='radio', value='3', onclick='verPorRadio(this.value)')
                          |  Camionete
                .form-group
                  .form-inline
                    .form-group
                      label * Tempo  
                    .form-group
                      .form-group.col-lg-5
                      select.form-control(id="tempo" name="tempo")
                        option( value='60') 1 Hora
                        option( value='120') 2 Horas
                        option( value='180') 3 Horas
                        option( value='240') 4 Horas
                  br
                  .form-inline
                    label  Celular
                    .form-group
                      .form-group.col-lg-5
                        input#campoCelular.form-control(type='text', placeholder='Celular', name='celular')
              .form-group
                .form-inline
                  .form-group.pull-right
                    label * Campos Obrigátorios
              br
              br
              .form-group
                .controls
                  button#button1id.btn.btn-small.btn-primary(name='button1id') Ativar
          .col-md-3
        footer.row
          .col-md-4  
          .col-md-4
          .col-md-4  


block append scripts
  script(src='/js/ativacao/ativacaoRevenda.js')
  script(src='/js/ativacao/cidades.js')
