extends ../layout

block optionuser
  div#corpooptionuser
    div#filhooptionuser

block content

  div(onload='escondeCampos()')
    if(message)
      .alert.alert-danger
        button.close(type='button', data-dismiss='alert') x
        strong #{message}
    .container.center
      header.row
        .col-md-4  
        .col-md-4
        .col-md-4  
      .row
        .col-md-3
        .row.myform
          .col-md-5
            h4.text-center Ativação
            br
            form(name='myform', role='form', action="/ativacao/salvar_ativacao", method='POST')
              .form-group
                .row
                  .form-group
                    .form-inline
                      .form-group.col-lg-5
                        label * Placa
                        input#placa.form-control(type='text', placeholder='Placa', name='placa', onblur='verificaPlaca();')
                      #campos1
                        .form-group.col-lg-2
                          .form-group
                            label * UF
                              select#cod_estados(name='cod_estados')
                                each valor, i in lista
                                    option(value="#{valor.attributes.id_estado}" selected="true") #{valor.attributes.uf}
                        .form-group.col-lg-3
                          .form-group
                            label * Cidade
                               select#cod_cidades(name='cod_cidades')

                br
                #campos2
                  .row
                    .form-group
                      .form-inline
                        .form-group.col-lg-5
                          label * Marca
                          input.form-control(type='text', placeholder='Marca', name='marca')
                        .form-group.col-lg-4
                          label * Modelo
                          input.form-control(type='text', placeholder='Modelo', name='modelo')
                  br
                  .row
                    .form-group
                      .form-group.col-lg-5
                        label * Cor
                        input.form-control(type='text', placeholder='Cor', name='cor')
                .row
                  .form-group
                    .form-inline
                      label * Tipo do veículo
                .row
                  .form-group
                    .form-inline(align='center')
                      .input-group
                        label.radio-inline
                          input#radio1(type='radio', checked='true', value='1', onclick='verPorRadio(this.value)')
                          |  Carro
                        label.radio-inline
                          input#radio2(type='radio', value='2', onclick='verPorRadio(this.value)')
                          |  Moto
                        label.radio-inline
                          input#radio2(type='radio', value='3', onclick='verPorRadio(this.value)')
                          |  Caminhonete
                .form-group
                  .form-inline
                    .form-group
                      label * Tempo  
                    .form-group
                      .form-group.col-lg-5
                        select.form-control(id="tempo" name="tempo")
                          option( value='1') 1 Hora
                          option( value='2') 2 Horas
                          option( value='3') 3 Horas
                          option( value='4') 4 Horas
                  br
                  .form-inline
                    label * Celular
                    .form-group
                      .form-group.col-lg-5
                        input.form-control(type='text', placeholder='Celular', name='login')
              .form-group
                .form-inline
                  .form-group.pull-right
                    label * Campos Obrigátorios
              br
              br
              .form-group
                .controls
                  button#button1id.btn.btn-small.btn-primary(name='button1id') Ativar
          .col-md-4
        footer.row
          .col-md-4  
          .col-md-4
          .col-md-4  

block append scripts
  script(src='/js/ativacao/ativacaoRevenda.js')
  script(src='/js/ativacao/cidades.js')
