extends ../layout

block optionuser
	div#corpooptionuser
		div#filhooptionuser
			a(href="/revendedor")
				img(src= "../images/icons/back.png" id="imgoptionuser")
block content
	table#tabelatitulopagina
		tr
			td
				table
					tr
						td &nbsp;
					tr
						td &nbsp;	
					tr
						td &nbsp;
	div
		form(action="/revendedor/ativar"  method="post" align="center")
			fieldset(id="first")
				label#tituloPagina Ativação de areazul
				br
				br
				center
				-if(message)
					label#messages #{message}
				br
				br
				table
					tr
						td(colspan="2")
							label#textoFormulario Saldo 
					tr
						td(colspan="2")
							input(type="text"  id="saldo" name="saldo" maxlength="50" size="1"  style="background-color:  #e2e9ee; width: 99.5%;")
					tr
						td(colspan="2")
							label#textoFormulario Créditos 
							label#obrigatorios *
					tr
						td(colspan="2")
							select(id="credito" name="credito")
								option(value='1') 1 Crédito
								option(value='2') 2 Crédito
								option(value='3') 3 Crédito

					tr
						td(colspan="2")
							label#textoFormulario Tipo de Veiculo 
							label#obrigatorios *
					tr
						td(colspan="2")
							select(id="tipo_veiculo" name="tipo_veiculo")
								option(value='carro') Carro
								option(value='camionete') Camionete
								option(value='moto') Moto

					tr
						td(colspan="2")
							label#textoFormulario Placa do Veiculo 
							label#obrigatorios *
					tr
						td(colspan="2")
							input(id="placa" name="placa" type="text" maxlength="11" size="1" style="background-color:  #e2e9ee; width: 34px;")
							input(id="number_placa" name="number_placa" type="text" maxlength="11" size="1" style="background-color:  #e2e9ee; width: 74px;")

					tr
						td &nbsp;
					tr
						td 
							label#obrigatorios (*) Campos obrigatórios
						td
							button(id="buttonSave" name="buttonSave") Buscar