extends ../layout

block optionuser
    div#corpooptionuser
        div#filhooptionuser


block content
  body(onload='valorInicial()')
   -if(message)
     .alert.alert-danger
      button.close(type='button', data-dismiss='alert') x
      strong #{message}
    div#containerCorpo
      header.row
        .col-md-4  
        .col-md-4
        .col-md-4  
      .row
        .col-md-3
        .row.form
          .col-md-6
            h4.text-center Cadastro de revendedor
            .row
              .col-md-2
              .col-md-8
                .input-group
                  label.radio-inline
                    input#radioButtonPessoaFisica(type='radio',name='selectedRadio1',checked='true', value='1', onclick='verPorRadio(this.value)')
                    |  Pessoa Física
                  label.radio-inline
                    input#radioButtonPessoaJuridica(type='radio',name='selectedRadio2',value='2', onclick='verPorRadio(this.value)')
                    |  Pessoa Jurídica
              .col-md-2
            
            #formularioPessoaFisica
             form(name='form', role='form', action="/revendedor/cadastrar_revendedor", method="POST")
              .form-group
                input.form-control(type='hidden', value='0', name='hiddenFormPF')
              .form-group
                  .form-inline
                    .form-group
                      label * CPF:
                      input#cpf_PessoaFisica.form-control(required='', type='text', name='cpf')
                    .form-group.pull-right
                      label Celular: 
                      input#celular_PessoaFisica.form-control(required='',type='text', name='celular_pf')
              .form-group
                label.control-label(for='fullName') * Nome: 
                input#nomepf.form-control(required='', type='text', name='nome_pf')
              .form-group
                label.control-label(for='country') * E-mail:
                .input-group
                  span#basic-addon1.input-group-addon @
                  input#emailpf.form-control(required='', type='text', , name='email_pf', placeholder="email@example.com", aria-describedby='basic-addon2')
              .form-group
                label.control-label(for='country') * Nome de usuário: 
                input#usuariopf.form-control(required='', type='text', name='nome_usuario_pf')
              .form-group
                .row
                  .control-group
                    .form-group.col-lg-6
                      label * Senha: 
                      input#senhapf.form-control(required='', type='password', name='senha_pf')
                    .form-group.col-lg-6
                      label * Confirmar senha: 
                      input#confirmar_senhapf.form-control(required='', type='password', name='confirmar_senha_pf')
              .form-group
                  .row
                    .form-inline
                      .form-group.col-lg-6
                        label.checkbox
                          input#optionsRadios1(type='checkbox', name='optionsRadios', value='option1')
                          |  Li e concordo com os termos de serviços
                      .form-group.col-lg-3.pull-right
                        label * Campos Obrigátorios
                .form-group
                  .controls
                    button#button1id.btn.btn-small.btn-primary(name='button1id') Salvar
                    button#button2id.btn.btn-danger.pull-right(name='button2id') Cancelar      
            #formularioPessoaJuridica
              form(name='form', role='form', action="/revendedor/cadastrar_revendedor", method="POST")
                .form-group
                   input.form-control(type='hidden', value='1', name='hiddenFormPJ')
                .form-group
                  .form-inline
                    .form-group
                      label * CNPJ: 
                      input#cnpj_PessoaJuridica.form-control(required='', type='text', placeholder='CNPJ', name='cnpj')
                    .form-group.pull-right
                      label * Telefone: 
                      input#telefone_PessoaJuridica.form-control(required='', type='text', placeholder='Telefone', name='telefone_pj')
                .form-group
                  label * Razão Social: 
                  input.form-control(required='', type='text', placeholder='Razão Social', name='razao_social_pj')
                .form-group
                  label * Nome Fantasia: 
                  input.form-control(required='', type='text', placeholder='Nome Fantasia', name='nome_fantasia_pj')
                .form-group
                  h4.text-center Dados Responsável
                .form-group
                  label * Nome:
                  input.form-control(required='', type='text', placeholder='Nome', name='responsavel_nome_pj')
                .form-group
                  label.control-label(for='country') * E-mail:
                  .input-group
                    span#basic-addon1.input-group-addon @
                    input#emailpj.form-control(required='', type='text', , name='email_pf', placeholder="email@example.com", aria-describedby='basic-addon2')
                .form-group
                    .form-group
                      label * CPF: 
                      input#cpf_PessoaJuridica.form-control(required='', type='text', placeholder='CPF', name='cpf_responsavel_pj', onKeyUp="maskIt(this,event,'###.###.###-##')")
                .form-group
                    .form-group
                      label * Nome de usuário: 
                      input.form-control(required='', type='text', placeholder='Nome de usuário', name='nome_usuario_pj')
                .form-group
                  .row
                    .col-md-6
                      .form-inline
                        .form-group
                          label * Senha: 
                          input.form-control(required='', type='password', placeholder='Senha', name='senha_pj')
                  
                    .col-md-6 
                        .form-group
                          label * Confirmar Senha: 
                          input.form-control(required='', type='password', placeholder='Confirmar Senha', name='confirmar_senha_pj')
                .form-group
                  .row
                    .form-inline
                      .form-group.col-lg-6
                        label.checkbox
                          input#optionsRadios1(type='checkbox', name='optionsRadios', value='option1')
                          |  Li e concordo com os termos de serviços
                      .form-group.col-lg-3.pull-right
                        label * Campos Obrigátorios
                .form-group
                  .controls
                    button#button1id.btn.btn-small.btn-primary(name='button1id') Salvar
                    button#button2id.btn.btn-danger.pull-right(name='button2id') Cancelar
        .col-md-3
      footer.row
        .col-md-4  
        .col-md-4
        .col-md-4  
      div
      block append scripts
          script(src='/js/revendedor/cadastro.js')
     



