extends ../layout

block optionuser
    div#corpooptionuser
        div#filhooptionuser
            a(href="/")
                img(src= "../images/icons/back.png" id="imgoptionuser")

block content
  body(onload='valorInicial()')
    .container
      header.row
        .col-md-4  
        .col-md-4
        .col-md-4  
      .row
        .col-md-3
        .row.form
          .col-md-7
            h1.text-center Cadastrar de revendedor
            br
            .row
              .col-md-3
              .col-md-6
                .input-group
                  label.radio-inline
                    input#radio1(type='radio',name='selectedRadio1',checked='true', value='1', onclick='verPorRadio(this.value)')
                    |  Pessoa Física
                  label.radio-inline
                    input#radio2(type='radio',name='selectedRadio2',value='2', onclick='verPorRadio(this.value)')
                    |  Pessoa Jurídica
              .col-md-3
            br
            br
            #formulario1
             form(name='form', role='form', action="/revendedor/cadastrar_revendedor", method="POST")
              .form-group
                input.form-control(type='hidden', value='0', name='hiddenFormPF')
                .form-inline
                  .form-group
                    label * CPF
                    input#cpf.form-control(required='', type='text', name='cpf')
                  .form-group
                    label Celular
                    input#celularpf.form-control(required='', type='text', name='celular_pf')
              .form-group
                label.control-label(for='fullName') * Nome
                input#nomepf.form-control(required='', type='text', name='nome_pf')
              .form-group
                label.control-label(for='country') * E-mail
                input#emailpf.form-control(required='', type='text', name='email_pf')
              .form-group
                label.control-label(for='country') * Nome de usuário
                input#usuariopf.form-control(required='', type='text', name='nome_usuario_pf')
              .form-group
                .form-inline
                  .form-group
                    label * Senha
                    input#senhapf.form-control(required='', type='password', name='senha_pf')
                  .form-group.pull-right
                    label * Confirmar senha
                    input#confirmar_senhapf.form-control(required='', type='password', name='confirmar_senha_pf')
              .form-group
                .form-inline
                    .form-group
                      label.checkbox
                        input#optionsRadios1(type='checkbox', name='optionsRadios', value='option1')
                        |  Li e concordo com os termos de serviços
                    .form-group.pull-right
                      label * Campos Obrigátorios
                .form-group
                  .controls
                    button#button1id.btn.btn-small.btn-primary(name='button1id') Salvar
                    button#button2id.btn.btn-danger.pull-right(name='button2id') Cancelar      
            #formulario2
               form(name='form', role='form', action="/revendedor/cadastrar_revendedor", method="POST")
                .form-group
                   input.form-control(type='hidden', value='1', name='hiddenFormPJ')
                  .form-inline
                    .form-group
                      label CNPJ
                      input.form-control(type='text', placeholder='CNPJ', name='cnpj')
                    .form-group
                      label Celular
                      input.form-control.input-mini(type='text', placeholder='Celular', name='celular_pj')
                    .form-group
                      label Telefone
                      input.form-control(type='text', placeholder='Telefone', name='telefone_pj')
                .form-group
                  label Razão Social
                  input.form-control(type='text', placeholder='Razão Social', name='razao_social_pj')
                .form-group
                  label Nome Fantasia
                  input.form-control(type='text', placeholder='Nome Fantasia', name='nome_fantasia_pj')
                .form-group
                  h4.text-center Dados Responsável
                .form-group
                  label Nome
                  input.form-control(type='text', placeholder='Nome', name='responsavel_nome_pj')
                .form-group
                  label E-mail
                  input.form-control(type='text', placeholder='E-mail', name='email_responsavel_pj')
                .form-group
                  label CPF
                  input.form-control(type='text', placeholder='CPF', name='cpf_responsavel_pj')
                .form-group
                  label Nome de usário
                  input.form-control(type='text', placeholder='Nome de usuário', name='nome_usuario_pj')
                .form-group
                  .form-inline
                    .form-group
                      label Senha
                      input.form-control(type='text', placeholder='Senha', name='senha_pj')
                    .form-group.pull-right
                      label Confirmar Senha
                      input.form-control(type='text', placeholder='Confirmar Senha', name='confirmar_senha_pj')
                .form-group
                  .form-inline
                    .form-group
                      label.checkbox
                        input#optionsRadios1(type='checkbox', name='optionsRadios', value='option1')
                        |  Li e concordo com os termos de serviços
                    .form-group.pull-right
                      label * Campos Obrigátorios
                .form-group
                  .controls
                    button#button1id.btn.btn-small.btn-primary(name='button1id') Salvar
                    button#button2id.btn.btn-danger.pull-right(name='button2id') Cancelar
        .col-md-2
      footer.row
        .col-md-4  
        .col-md-4
        .col-md-4  
      div
    script(type='text/javascript').
      function ver(elemento){
      if (elemento.checked){
      document.getElementById("formulario1").style.display = "";
      }else{
      document.getElementById("formulario1").style.display = "none";
      }
      }
      function verCampo(elemento){
      if (elemento.checked){
      document.getElementById("formulario2").style.display = "";
      }else{
      document.getElementById("formulario2").style.display = "none";
      }
      }
      function verPorRadio(elemento){
      switch (elemento){
      case "1" :
      document.getElementById("formulario1").style.display = "";
      document.getElementById("formulario2").style.display = "none";
      document.getElementById("radio1").checked = true;
      document.getElementById("radio2").checked = false;
      break;
      case "2" :
      document.getElementById("formulario1").style.display = "none";
      document.getElementById("formulario2").style.display = "";
      document.getElementById("radio1").checked = false;
      document.getElementById("radio2").checked = true;
      break;
      }
      }
      function valorInicial(){
      if (radio1.checked) {
      document.getElementById("formulario1").style.display = "";
      document.getElementById("formulario2").style.display = "none";
      }
      if (radio2.checked) {
      document.getElementById("formulario1").style.display = "none";
      document.getElementById("formulario2").style.display = "";
      }
      }