extends ../layout



block optionuser
	div#corpooptionuser
		div#filhooptionuser
			a(href="/")
				img(src= "../images/icons/back.png" class='imgoptionuser')

block content
	table#tabelatitulopagina
		tr
			td
				table
					tr
						td &nbsp;
					tr
						td

					tr
						td &nbsp;

	div

	form(method="POST" action="/usuario/alteracao_senha/#{value.id}"  class="regform"  align="center")

		fieldset(id="first")
			label#tituloPagina Alteração de senha
			br
			br
			center
			-if(message)
				label#messages #{message}
			br
			br
			table
				tr
					td
						label#textoFormulario Usuario
						label#obrigatorios *
					td
						input(id="id" name="id" type="hidden" maxlength="11" size="1"  value="#{value.id}" style="background-color:  #e2e9ee; width: 84px;")
						input(id="login" name="login" type="text" maxlength="11" size="1"  value="#{value.login}" style="background-color:  #e2e9ee; width: 84px;")
				tr
					td
						label#textoFormulario Senha atual
						label#obrigatorios *
					td
						input(id="senha" name="senha" type="password" maxlength="11" size="1" style="background-color:  #e2e9ee; width: 84px;")
				tr
					td
						label#textoFormulario Nova senha
						label#obrigatorios *
					td
						input(id="nova_senha" name="nova_senha" type="password" maxlength="11" size="1" style="background-color:  #e2e9ee; width: 84px;")
				tr
					td
						label#textoFormulario Confirmar senha
						label#obrigatorios *
					td
						input(id="conf_senha" name="conf_senha" type="password" maxlength="11" size="1" style="background-color:  #e2e9ee; width: 84px;")
				tr
					td
						&nbsp
					td
						&nbsp
				tr
					td
						label#obrigatorios (*) Campos obrigatórios
					td
						&nbsp
					td
						input(type="submit" id="buttonForm" name="buttonSave" value="salvar")
